/* Header */

header {
  background-image: url("./images/ctf-front.jpg");

  height: 4000px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  color: white;
  font-family: 'Podkova', "Courier New", sans-serif;
}

header h1, header h2 {
  display: block;
  position: absolute;

  right: 0;
}

.title {
  top: 1200px;

  font-size: 3em;
  font-weight: 800;
}

.author {
  top: 1500px;
  font-size: 2.25em;
  font-weight: 700;
}



p {
  margin-bottom: 2em;
  line-height: 1.25em;
  font-size: 18px;
}

p:only-child {
  margin: 0;
}

section {
  padding: 100px;
  padding-top: 300px;
}

.letter-bg {
  /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;

  /* Pull the background 70px higher to the same place as #bg's */
  /*background-position: center -70px;*/

  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.letter {
  z-index: 100;
  margin: 0 auto;
  padding: 50px;
  filter: blur();
  background: rgb(34,34,34); /* for IE */
  background: rgba(0, 125, 252, 0.75);
  border-radius: 1.25em;
}

.letter + .letter {
  margin-top: 100px;
}


/* Sections by letter */

/* Letter 1 */

#letter-1 {
  height: 1000px;
  position: relative;
  background-image: url("./images/ctf-full.jpg");

  height: 1200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  font-family: 'Podkova', "Courier New", sans-serif;
}

#letter-1 .letter {
  top: 500px;
}

#letter-1 h1 {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 1em;
}


/* Letter 2 */

#letter-2 {
  background-image: url("images/ctf-close.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 1000px;
  position: relative;
  padding: 100px;
}

#letter-2 .letter {
  color: white;
  font-family: "Podkova", serif;
}

.phone-backdrop {
  margin: 0 auto;
  z-index: 100;

  max-width: 325px;
  height: 600px;
  border: white solid 1px;
  border-radius: 2em;
  padding: 12px;
  padding-top: 70px;

  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
}

.screen-backdrop {
  z-index: 100;
  max-width: 320px;
  height: 500px;
  background: white;
  padding: 10px;
  padding-left: 64px;
  padding-right: 10px;
  overflow-y: scroll;
  border: black solid 2px;
  border-left: gray solid 2px;

  text-align: right;
}

.button-backdrop {
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: white solid 2px;
  margin: 10px auto;
}

#letter-2 .letter {
  display: inline-block;

  /*padding: 12px 0px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  background: rgb(0, 125, 252);
  font-size: 13px;
  text-align: left;
  border-radius: 1.5em;
  line-height: 1.25em;*/
}

.message-bubble {
  padding: 12px 0;
  padding-left: 12px;

  background: rgb(0, 125, 252);

  text-align: left;
  border-radius: 1.5em;
}

.message-bubble p {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  font-size: 13px;
  line-height: 1.25em;
  margin-bottom: 0;
}

.message-bubble + .message-bubble {
  margin-top: 9px;
}

.message-bubble p {
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: right;
}

.message-bubble p:first-of-type {
  margin-top: 0;
}

.message-bubble p:last-of-type {
  margin-bottom: 0;
}

/* Letter 3 */
#letter-3 {
  background-image: url("./images/interior-person.jpg");

  height: 1200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  font-family: 'Podkova', "Courier New", sans-serif;
}

/* Letter 4 */
#letter-4 {
  background-image: url("./images/groovecoaster.jpg");

  height: 1200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  color: white;
  font-family: 'Podkova', "Courier New", sans-serif;
}

/* Letter 5 */
#letter-5 {
  background-image: url("./images/tekken.jpg"); /* interior-person */

  height: 1200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  color: white;
  font-family: 'Podkova', "Courier New", sans-serif;
}

/* Letter 6 */
#letter-6 {
  background-image: url("./images/pingpong.jpg"); /* ctf */

  height: 1200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  color: white;
  font-family: 'Podkova', "Courier New", sans-serif;
}

/* Letter 7 */
#letter-7 {
  background-image: url("./images/rewards.jpg"); /* rewards */

  height: 1200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  color: white;
  font-family: 'Podkova', "Courier New", sans-serif;
}

/* Letter 8 */
#letter-8 {
  background-image: url("./images/wall.jpg"); /* floating message bubbles */

  height: 1200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  color: white;
  font-family: 'Podkova', "Courier New", sans-serif;
  position: relative;


}

.blur-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center -70px;

  opacity: 0.5;

  -webkit-filter: blur(10px);
  filter: blur(10px);
}

/* Letter 6 */
#letter-9 {
  background-image: url("./images/streetfighter.jpg"); /* streetfighter */

  height: 1200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  color: white;
  font-family: 'Podkova', "Courier New", sans-serif;
}

#letter-9 .letter {
  width: 80%;
}

/* Letter 10 */
#letter-10 {
  background-image: url("./images/night-full.jpg"); /* phone */

  height: 1200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  color: white;
  font-family: 'Podkova', "Courier New", sans-serif;
}

/* Conclusion */
#conclusion {
  background-image: url("./images/ctf-night-front.jpg");

  height: 4000px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  color: white;
  font-family: 'Podkova', "Courier New", sans-serif;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}
